---
import CaretDown from "./icons/CaretDown.astro";
---

<nav class="flex">
  <ul class="flex items-center gap-8">
    <li><a href="/about">Nosotros</a></li>
    <li class="flex items-center">
      <a href="/services">Servicios</a><CaretDown />
    </li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contacto</a></li>
  </ul>
</nav>

<style>
  a {
    padding: 0.5rem 0;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
